body{
    margin: 0;
    padding: 0;
    font-family: gfs didot;
    
    
}
/********************** INDEXXX *********************************/ 
.one{
    position: relative;
    height: 100vh;
}
header {
    position: absolute;  
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 50%;
    left: 2.1vw;          
    z-index: 20;        
    transform: translateY(25%);

}
 a{
font-size: 2vh;
color: #300707;
text-decoration: none;


 }

.background {
    position: fixed;
  width: 100%;
  height: 100vh;      
  object-fit: cover;  
  display: block;
  z-index: 0;
}

hr{
    position: absolute;
    z-index: 10;
   margin: 0;
   margin-left: 2vh;
   padding: 26%;      
  border: 5px solid #300707;
 width: 640px;
 transform: translateY(4vh) translateX(15px);
display: block; 
}

.index-text {
  position: absolute;  
  left: 30%;
  transform: translate(30%, 40vh); 
  z-index: 10;         
  text-align: center;
  color: rgb(0, 0, 0);    
}

.index-text h1{
    margin-bottom: -5px;
    font-size: 8vh;
    color: #300707;
}


.index-text p {
  margin-top: -5px; 
  margin-right: 31vh;
  font-size: 3vh;
  color: #300707;
}




/********************** INDEXXX *********************************/ 




/************************.  MINE OPGAVER   *******************************/ 
.background2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    object-fit: cover;  
    z-index: 0;

}
.two {
    
    background-color: #F2EBE5;
    height: 90vh;
    width: 169vh;
    margin-left: 2%;
    margin-top: 3%;
    position: relative; 
    z-index: 1;
}

.index-grid {
    display: flex;
    flex-direction: row; 
    gap: 15vh;  
       
}

.div,.div1, .div2 {
    background-color: #F2EBE5;
    border: 1px solid rgb(125, 118, 118);
    width: 200px;
    height: 250px;
    border-radius: 50%;
    position: relative;  
    left: 33vh;   
    transform: translateY(30vh);  
}


